# Build & Derived files
build/
DerivedData/

# Workspace & user data
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.xcodeproj/project.xcworkspace/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives & Artifacts
*.xcarchive
*.ipa
*.app
*.dSYM.zip
*.dSYM

# Editor stuff
*.DS_Store
.idea/
.vscode/

# Allow source files and project files
!*.xcodeproj
!*.swift
!*.h
!*.m
!*.plist
!*.xib
!*.storyboard
!Assets.xcassets/
