# Xcode
build/
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcuserstate
*.xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# User-specific
*.DS_Store
*.idea/
*.vscode/

# Bundle files
*.ipa
*.app
*.dSYM.zip
*.dSYM
